.picture{
	height: 200px;
	width: 260px;
}
h1{
	color: deepskyblue;
	font-family: fantasy;
	font-size: 50px;
}
h2{
	color: deepskyblue;
	font-family: fantasy;
	font-size: 30px;
}
h3{
	color: deepskyblue;
	font-family: fantasy;
	font-size: 25px;
	margin: 10px 0px 10px 50px;
}
article.artintro{
	position: absolute;
	width: 250px;
	height: 300px;
	left: 600px;
}
article.artont{
	position: absolute;
	width: 250px;
	height: 300px;
	left: 300px;
}
article.artao{
	position: absolute;
	width: 250px;
	height: 300px;
	left: 600px;
}
article.artprofile{
	border: 2px solid blue;
	position: absolute;
	left: 1200px;
	bottom: 400px;
	background-color: powderblue;
}
body{
	background-color: aliceblue;
}


